@import "tailwindcss";

@theme {
  --color-tirant-dark: #333333;
  --color-tirant-gray: #666666;
  --color-tirant-light: #f5f5f5;
  --color-tirant-border: #e0e0e0;
}

@layer base {
  body {
    background-color: white;
    color: #111827;
    margin: 0;
    font-family: sans-serif;
  }
}
